#wrap
  %p#prompt よいと思ったほうをクリック！！！  
  #wrap-screenshots
    .screenshot.left
      = form_tag '/members/fight' do
        = hidden_field_tag 'winner_id', @left.id
        = hidden_field_tag 'loser_id', @right.id
        = image_submit_tag screenshot_url(@left.url)
    .screenshot.right
      = form_tag '/members/fight' do
        = hidden_field_tag 'winner_id', @right.id
        = hidden_field_tag 'loser_id', @left.id
        = image_submit_tag screenshot_url(@right.url)
  .clear
  %p#next
    %a{:href => '/'} どっちもダメ！次へ！！
#footer
  %p.left
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="国会議員のウェブサイトのランキングをつくろう！" data-lang="ja" data-hashtags="jdmash">ツイート</a>
    <script src="//platform.twitter.com/widgets.js"></script>
  %p.left= link_to 'サイトの説明', '/about'
  %p.left= link_to 'ランキングを見る', '/ranking'
  %p.right
    Powered by
    %a{:href => 'https://japandietdb.net/', :target => '_blank'} 国会DB
