<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Familly name:</strong>
  <%= @member.familly_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @member.url %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
